---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <article>
        <section class="flex justify-center mt-s">
            <h1>About us</h1>
        </section>
    </article>
</MainLayout>