---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <article>
        <section class="flex justify-center mt-s">
            <h1>About us</h1>
            <!-- <h2 class="mt-m md:mt-xl lg:mt-2xl">2025</h2> -->
        </section>
    </article>
</MainLayout>