---
import MainLayout from '../layouts/MainLayout.astro';
import landingImage from '../assets/landingpage_photo.png';
import Button from '../components/Button.astro';
import Lineup from './lineup.astro';
import BlueBG from '../components/BlueBG.astro';
import Countdown from '../components/Countdown.astro';
const { title = "Kaleido Countdown" } = Astro.props;

type Artist = {
	artist_name: string;
	created_at: string;
	country: string;
	date: string;
	crew: string | null;
	slug: string;
};

let data: Artist[] = [];

const response = await fetch("https://pdziurppuyuifopvqeap.supabase.co/rest/v1/artists", {
	method: "GET", 
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkeml1cnBwdXl1aWZvcHZxZWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc0NzYwNzAsImV4cCI6MjA2MzA1MjA3MH0.pXBiQO37hl7cZE_5eZiChRZMkCIHq9FsUr-LGE_F3Yg"
	}
});

if (response.ok) {
	const rawData = await response.json();
	data = Array.isArray(rawData)
		? rawData.map((item) => ({
			...item,
			slug: item.artist_name.toLowerCase().replace(/\s+/g, "-"),
		}))
		: [];
} else {
	console.error("Failed to fetch artists", response.status);
}

console.log("data", data);
---

<MainLayout>
	<section class="">
		<div>
			<h1 class="">Electronic Music Festival</h1>
			<h2 class="">2 nights with techno and good vibes</h2>
			<h4>Get your tickets today!</h4>
			<p>
				We are repeating the success of Kaleido, the electronic music festival taking place in Aarhus the 20th–21st of June.
				We can't wait to see you!
			</p>
			<Button href="/tickets" />
		</div>
		<div class="flex justify-end">
			<img 
				src={landingImage.src} 
				alt="Electronic music crowd"
				class="w-full max-w-[500px] md:max-w-[700px] lg:max-w-[1100px] h-auto"/>
		</div>
	</section>

	<BlueBG>
		<article class="">
			<h1>Lineup</h1>
			<section>
				{data.map((artist) => (
					<Lineup data={artist} />
				))}
			</section>
		</article>
	</BlueBG>
	<Countdown client:load>
		<h3>We <span class="text-primary-500">can't wait</span> to see you</h3>
	</Countdown>
</MainLayout>
