---
import MainLayout from '../layouts/MainLayout.astro';
import landingImage from '../assets/landingpage_photo.png';
import Button from '../components/Button.astro';
import LineUp from '../components/Lineup.astro';
import BlueBG from '../components/BlueBG.astro';
import Countdown from '../components/Countingdown.astro';
import { Image } from 'astro:assets';
import tv from "../assets/TV.webp";
---


<MainLayout>
	<article class="max-w-[1312px] mx-auto">
		<h1 class="pl-xxs md:pl-s">Electronic Music Festival</h1>
		<section class="grid grid-cols-4">
			<div class="col-span-1 z-10">
				<h2 class="pt-xxs pl-xxs md:pl-s glow-text w-[300px] md:w-[500px]">
					2 nights with techno and good vibes
				</h2>
				<div class="py-ml px-xs pr-ml mt-5xl md:mt-4xl lg:mt-6xl w-[305px] md:w-[500px] lg:w-[600px] bg-accent-950/80 rounded-tr-3xl rounded-br-3xl">
					<h5>Get your tickets today!</h5>
					<p class="mt-xs md:mt-s mb-xs">
						We are repeating the success of Kaleido, the electronic music festival
						taking place in Aarhus the 20th-21st of June. We can't wait to see you!
					</p>
					<div class="flex justify-end">
						<Button href="/tickets" />
					</div>
				</div>
			</div>
			<div class="right-0 mt-lg md:mt-xs col-span-3 justify-self-end max-w-[400px] md:max-w-[750px] lg:max-w-[850px] h-auto">
				<img 
					src={landingImage.src} 
					alt="Electronic music crowd"
					class="w-full"
				/>
			</div>
		</section>
	</article>
	<section class="relative">
		<div>
			<Image class="absolute w-[210px] md:w-[300px] lg:w-[370px] right-xs md:right-sm lg:right-xl top-m md:top-5xl" src={tv} alt="Tv's"/>
		</div>
	</section>
	<BlueBG>
		<div class="max-w-[1312px] mx-auto">
		<article class="mt-6xl md:my-9xl py-xl">
			<h1 class="ml-m md:ml-lg mb-sm">Lineup</h1>
			<LineUp></LineUp>
		</article>
	</div>
	</BlueBG>

	<Countdown>
		<h3>We can't wait to see you</h3>
	</Countdown>
</MainLayout>


<style>
@keyframes glow-pulse {
  0%, 100% {
    text-shadow: 0 0 2px var(--color-primary-500);
  }
}


.glow-text {
  animation: glow-pulse 3s ease-in-out infinite;
}
</style>
