---
import MainLayout from '../layouts/MainLayout.astro';
import landingImage from '../assets/landingpage_photo.png';
---


<MainLayout>
	<article class="">
		<section>
			<h1 class="" >Electronic Music Festival</h1>
			<h2 class="">2 nights with techno and good vibes</h2>
			<h4>Get your tickets today!</h4>
			<p>We are repeating til succes of Kaleido, the eletric music festival taking place in Aarhus the 20.-21. of june.  We can't wait to see you!</p>
		</section>
		<div class="flex justify-end">
			<img 
				src={landingImage.src} 
				alt="Electronic music crowd"
				class="w-full max-w-[500px] md:max-w-[700px] lg:max-w-[1100px] h-auto"/>
		</div>

	</article>
	
</MainLayout>

