---
import Welcome from '../components/Welcome.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Layout from '../layouts/MainLayout.astro';

---

<MainLayout>
	<p class="bg-primary-500">helo</p>
</MainLayout>
