---
import MainLayout from '../layouts/MainLayout.astro';
import landingImage from '../assets/landingpage_photo.png';
import Button from '../components/Button.astro';
import Lineup from '../components/Lineup.astro';
import BlueBG from '../components/BlueBG.astro';
import Countdown from '../components/Countingdown.astro';
---


<MainLayout>
	<article class="max-w-[1312px] mx-auto">
		<h1 class="pl-xxs md:pl-s">Electronic Music Festival</h1>
		<section class="grid grid-cols-4">
			<div class="col-span-1 z-10">
				<h2 class="pt-xxs pl-xxs md:pl-s glow-text w-[247px] md:w-[450px]">
					2 nights with techno and good vibes
				</h2>
				<div class="pl-xxs md:pl-s mt-l md:mt-xl w-[285px] md:w-[450px] lg:w-[525px] bg-accent-950/80 py-xs pr-l">
					<h5>Get your tickets today!</h5>
					<p class="mt-xs md:mt-s mb-xs">
						We are repeating the success of Kaleido, the electronic music festival
						taking place in Aarhus the 20th-21st of June. We can't wait to see you!
					</p>
					<div class="flex justify-end">
						<Button href="/tickets" />
					</div>
				</div>
			</div>
			<div class="right-0 col-span-3 justify-self-end w-[300px] lg:w-[825px]">
				<img 
					src={landingImage.src} 
					alt="Electronic music crowd"
					class="w-full max-w-[375px] md:max-w-[750px] lg:max-w-[900px] h-auto"
				/>
			</div>
		</section>
	</article>

	<BlueBG>
		<article class="my-3xl">
			<h1 class="flex justify-center">Lineup</h1>
			<Lineup></Lineup>
		</article>
	</BlueBG>

	<Countdown>
		<h3>We <span class="text-primary-500">can't wait</span> to see you</h3>
	</Countdown>
</MainLayout>


<style>
@keyframes glow-pulse {
  0%, 100% {
    text-shadow: 0 0 2px var(--color-primary-500);
  }
}


.glow-text {
  animation: glow-pulse 3s ease-in-out infinite;
}
</style>
