---
import MainLayout from '../layouts/MainLayout.astro';
import landingImage from '../assets/landingpage_photo.png';
import Button from '../components/Button.astro';
import Lineup from '../components/Lineup.astro';
import BlueBG from '../components/BlueBG.astro';
import Countdown from '../components/Countingdown.astro';
---


<MainLayout>
	<h1 class="pl-xs md:pl-m">Electronic Music Festival</h1>
	<section class="grid grid-cols-4 pl-xs md:pl-m">
		<div class="col-span-1 z-10">
		<h2 class="text-3xl md:text-5xl font-bold glow-text w-[600px]">2 nights with techno and good vibes</h2>
			<div class="mt-2xl w-[500px]">
				<h5>Get your tickets today!</h5>
				<p class="mt-xxs">We are repeating the success of Kaleido, the electronic music festival taking place in Aarhus the 20th–21st of June.
				We can't wait to see you!</p>
				<Button href="/tickets" />
			</div>
		</div>
		<div class="right-0 col-span-3 justify-self-end w-[400px] md:w-[1100px]">
			<img 
				src={landingImage.src} 
				alt="Electronic music crowd"
				class="w-full max-w-[500px] md:max-w-[1000px] lg:max-w-[1200px] h-auto"/>
		</div>
	</section>
	<!-- <BlueBG>
		<article class="my-5xl">
			<h1>Lineup</h1>
			<section>
			{data.length > 0 ? (
				data.map((artist) => <Lineup data={artist} />)
			) : (
				<p>Intet lineup fundet...</p>
			)}
			</section>
		</article>
	</BlueBG> -->
	<BlueBG>
		<article class="my-5xl">
			<h1 class="flex justify-center">Lineup</h1>
			<Lineup></Lineup>
		</article>
	</BlueBG>
	<Countdown>
		<h3>We <span class="text-primary-500">can't wait</span> to see you</h3>
	</Countdown>
</MainLayout>

<style>
@keyframes glow-pulse {
  0%, {
    text-shadow: 0 0 2px var(--color-primary-50), 0 0 5px var(--color-primary-50), 0 0 10px var(--color-primary-50);
  }
  50% {
    text-shadow: 0 0 0px var(--color-primary-50), 0 0 2px var(--color-primary-50), 0 0 4px var(--color-primary-50), 0 0 6px var(--color-primary-500);
  }
}

.glow-text {
  animation: glow-pulse 3s ease-in-out infinite;
}
</style>
