---
import MainLayout from '../layouts/MainLayout.astro';
import TicketCard from '../components/TicketCard.astro';
import KeepUpdate from '../components/KeepUpdate.astro';
import { Image } from 'astro:assets';
import tvs from "../assets/TV_m_billeder.png";
---

<MainLayout>
    <article>
        <section class="flex justify-center mt-s">
            <h1>Tickets</h1>
            <h2 class="mt-m md:mt-xl lg:mt-2xl">2025</h2>
        </section>
        <section class="flex flex-col lg:flex-row justify-center justify-self-center gap-sm my-m">
            <TicketCard 
                date="20TH-21ST OF JUNE" 
                title="FULL WEEKEND" 
                price="550 kr" 
                ctaHref="https://www.ticketmaster.dk/event/555544873"
                ctaText="BUY NOW"
            />
            <TicketCard 
                date="20TH-21ST OF JUNE" 
                title="FRIDAY TICKET" 
                price="350 kr" 
                ctaHref="https://www.ticketmaster.dk/event/kaleido-2025-friday-ticket-billetter/1514789914"
                ctaText="BUY NOW"
            />
            <TicketCard 
                date="20TH-21ST OF JUNE" 
                title="SATURDAY TICKET" 
                price="350 kr" 
                ctaHref="https://www.ticketmaster.dk/event/kaleido-2025-saturday-ticket-billetter/1709315015"
                ctaText="BUY NOW"
            />
        </section>
        <KeepUpdate></KeepUpdate>
    </article>
    <Image class="flex justify-self-center md:w-[800px] lg:max-w-[1000px]" src={tvs} alt="Tv's"/>
</MainLayout>