---
import MainLayout from '../layouts/MainLayout.astro';
import TicketCard from '../components/TicketCard.astro';
import KeepUpdate from '../components/KeepUpdate.astro';
import { Image } from 'astro:assets';
import tvs from "../assets/TV_m_billeder.png";
---

<MainLayout>
    <section></section>
    <article>
        <section class="flex justify-center">
            <h1>Tickets</h1>
            <h2 class="mt-m md:mt-xl lg:mt-2xl">2025</h2>
        </section>
        <section class="flex flex-col lg:flex-row justify-center justify-self-center gap-sm my-m">
            <TicketCard 
                date="20TH–21ST OF JUNE" 
                title="FULL WEEKEND" 
                price="550 kr" 
                ctaHref="/tickets"
                ctaText="BUY NOW"
            />
            <TicketCard 
                date="20TH–21ST OF JUNE" 
                title="FRIDAY TICKET" 
                price="350 kr" 
                ctaHref="/ticekts"
                ctaText="BUY NOW"
            />
            <TicketCard 
                date="20TH–21ST OF JUNE" 
                title="SATURDAY TICKET" 
                price="350 kr" 
                ctaHref="/tickets"
                ctaText="BUY NOW"
            />
        </section>
        <KeepUpdate></KeepUpdate>
    </article>
    <Image class="flex justify-self-center" src={tvs} alt="Tv's"/>
</MainLayout>