<section class="relative w-full h-auto">
  <div class="absolute inset-0 bg-accent-950 opacity-50 -z-10"></div>

  <!-- Slot-indhold (tekst eller hvad du lægger i) -->
  <div class="relative z-10">
    <slot />
  </div>
</section>
