---
// Du kan evt. tilføje en `label` prop og `href` hvis du vil gøre knappen genanvendelig
const { label = "buy now", href = "#" } = Astro.props;
---

<a
  href={href}
  class="group w-[300px] h-[87px] flex justify-center items-center px-[55px] py-[26px] gap-[10px] bg-secondary-700 rounded-[48px] btn-shadow"
>
  <h4 class="font-black text-center uppercase text-gradient-primary group-hover:bg-none group-hover:text-primary-500 transition-all duration-300">
    {label}
  </h4>
</a>

