---
import SoMe from "./SoMe.astro";

---
<article class="">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1312.49 202">
    <defs>
        <style>
        .cls-1 {
            fill: none;
        }

        .cls-2 {
            clip-path: url(#clippath-1);
        }

        .cls-3 {
            clip-path: url(#clippath-2);
        }

        .cls-4 {
            fill: #30ffa7;
        }

        .cls-5 {
            clip-path: url(#clippath);
        }
        </style>
        <clipPath id="clippath">
        <rect class="cls-1" x=".49" width="201.85" height="202"/>
        </clipPath>
        <clipPath id="clippath-1">
        <rect class="cls-1" x=".49" width="201.85" height="202"/>
        </clipPath>
        <clipPath id="clippath-2">
        <rect class="cls-1" x="0" width="201.38" height="201.29"/>
        </clipPath>
    </defs>
    <g class="cls-5">
        <g class="cls-2">
        <g class="cls-3">
            <g>
            <path class="cls-4" d="M86.93,173.87c6.96,9.13,13.92,18.29,20.87,27.42-19.56-8.65-39.11-17.29-58.7-25.97-5.86-22.23-11.71-44.47-17.6-66.73,10.67,15.92,21.36,31.85,32.02,47.77-1.34-10.66-2.71-21.29-4.06-31.96,9.13,16.46,18.29,32.95,27.43,49.41l.03.05Z"/>
            <path class="cls-4" d="M69.28,109.94c-4.7-.3-9.43-.56-14.13-.86,6.07-9.94,12.12-19.84,18.19-29.78,3.9.35,7.79.72,11.69,1.07-.86,1.61-1.69,3.2-2.55,4.81-.56,1.05-1.1,2.07-1.67,3.11-.43.05-.89.11-1.32.16,6.31-.81,12.63-1.61,18.94-2.42-2.04-6.42-4.11-12.84-6.15-19.28-7.66,14.39-15.34,28.79-23,43.18Z"/>
            <path class="cls-4" d="M39.17,142.7c-1.53,11.39-3.09,22.77-4.62,34.13-7.71-19.95-15.42-39.88-23.13-59.83,11.58-19.87,23.18-39.74,34.76-59.61-3.71,18.8-7.44,37.62-11.15,56.42,6.58-8.49,13.16-16.97,19.72-25.46-5.18,18.13-10.37,36.22-15.55,54.35h-.03Z"/>
            <path class="cls-4" d="M71.89,85.02c-3.14-3.52-6.26-7.06-9.38-10.58,11.31-2.74,22.62-5.48,33.93-8.22,2.5,3.01,5,6.02,7.5,9.02-1.75.54-3.47,1.05-5.21,1.58-1.13.35-2.23.67-3.36,1.02-.35-.27-.7-.54-1.05-.81,5.02,3.89,10.07,7.79,15.1,11.68,3.09-5.99,6.18-11.98,9.3-17.96-15.61,4.75-31.22,9.51-46.8,14.26h-.03Z"/>
            <path class="cls-4" d="M27.43,86.9c-9.13,6.95-18.29,13.91-27.43,20.87,8.65-19.55,17.3-39.1,25.98-58.67,22.24-5.85,44.49-11.71,66.76-17.59-15.93,10.66-31.86,21.35-47.79,32.01,10.67-1.34,21.3-2.71,31.97-4.05-16.47,9.13-32.96,18.29-49.43,27.42l-.05.03Z"/>
            <path class="cls-4" d="M91.39,69.25c.3-4.7.56-9.43.86-14.12,9.94,6.07,19.85,12.11,29.79,18.18-.35,3.89-.73,7.79-1.07,11.68-1.61-.86-3.2-1.69-4.81-2.55-1.05-.56-2.07-1.1-3.12-1.66-.05-.43-.11-.89-.16-1.32.81,6.31,1.61,12.62,2.42,18.93,6.42-2.04,12.84-4.11,19.29-6.15-14.4-7.65-28.8-15.33-43.2-22.99Z"/>
            <path class="cls-4" d="M58.62,39.15c-11.39-1.53-22.78-3.09-34.15-4.62,19.96-7.71,39.89-15.41,59.85-23.12,19.88,11.57,39.76,23.17,59.64,34.75-18.8-3.71-37.64-7.44-56.44-11.14,8.49,6.58,16.98,13.16,25.47,19.71-18.13-5.18-36.24-10.37-54.37-15.55v-.03Z"/>
            <path class="cls-4" d="M116.32,71.86c3.52-3.14,7.07-6.26,10.58-9.37,2.74,11.31,5.48,22.61,8.22,33.92-3.01,2.5-6.02,5-9.03,7.49-.54-1.75-1.05-3.46-1.58-5.21-.35-1.13-.67-2.23-1.02-3.36.27-.35.54-.7.81-1.05-3.9,5.02-7.79,10.07-11.69,15.09,5.99,3.09,11.98,6.18,17.97,9.29-4.76-15.6-9.51-31.2-14.27-46.78v-.03Z"/>
            <path class="cls-4" d="M114.44,27.42c-6.96-9.13-13.92-18.29-20.87-27.42,19.56,8.65,39.11,17.29,58.7,25.97,5.86,22.23,11.71,44.47,17.6,66.73-10.67-15.92-21.36-31.85-32.02-47.77,1.34,10.66,2.71,21.29,4.06,31.95-9.13-16.46-18.3-32.95-27.43-49.41l-.03-.05Z"/>
            <path class="cls-4" d="M132.12,91.35c4.7.3,9.43.56,14.13.86-6.07,9.94-12.12,19.84-18.19,29.78-3.89-.35-7.79-.72-11.69-1.07.86-1.61,1.69-3.2,2.55-4.81.57-1.05,1.1-2.07,1.67-3.11.43-.05.89-.11,1.32-.16-6.31.81-12.63,1.61-18.94,2.42,2.04,6.42,4.11,12.83,6.15,19.28,7.66-14.39,15.34-28.79,23-43.18Z"/>
            <path class="cls-4" d="M162.21,58.59c1.53-11.39,3.09-22.77,4.62-34.13,7.71,19.95,15.42,39.88,23.13,59.83-11.58,19.87-23.19,39.74-34.76,59.61,3.71-18.8,7.44-37.62,11.15-56.42-6.58,8.49-13.16,16.97-19.72,25.46,5.18-18.13,10.37-36.22,15.56-54.35h.03Z"/>
            <path class="cls-4" d="M129.49,116.27c3.14,3.52,6.26,7.06,9.38,10.58-11.31,2.74-22.62,5.48-33.93,8.22-2.5-3.01-5-6.02-7.5-9.02,1.75-.54,3.47-1.05,5.21-1.58,1.13-.35,2.23-.67,3.36-1.02.35.27.7.54,1.05.81-5.02-3.89-10.07-7.79-15.1-11.68-3.09,5.99-6.18,11.98-9.3,17.96,15.61-4.75,31.22-9.51,46.8-14.26h.03Z"/>
            <path class="cls-4" d="M173.95,114.39c9.13-6.95,18.29-13.91,27.43-20.86-8.65,19.55-17.3,39.1-25.98,58.67-22.24,5.85-44.49,11.71-66.76,17.59,15.93-10.66,31.86-21.35,47.79-32.01-10.67,1.34-21.3,2.71-31.97,4.06,16.47-9.13,32.96-18.29,49.43-27.42l.05-.03Z"/>
            <path class="cls-4" d="M109.98,132.06c-.3,4.7-.57,9.43-.86,14.12-9.94-6.07-19.85-12.11-29.79-18.18.35-3.89.73-7.79,1.07-11.68,1.61.86,3.2,1.69,4.81,2.55,1.05.56,2.07,1.1,3.12,1.67.05.43.11.89.16,1.32-.81-6.31-1.61-12.62-2.42-18.93-6.42,2.04-12.84,4.11-19.29,6.15,14.4,7.65,28.8,15.33,43.2,22.99Z"/>
            <path class="cls-4" d="M142.79,162.14c11.39,1.53,22.78,3.09,34.14,4.62-19.96,7.71-39.89,15.41-59.85,23.12-19.88-11.57-39.76-23.17-59.64-34.75,18.81,3.71,37.64,7.44,56.44,11.14-8.49-6.58-16.98-13.16-25.47-19.71,18.13,5.18,36.24,10.36,54.37,15.55v.03Z"/>
            <path class="cls-4" d="M85.05,129.43c-3.52,3.14-7.07,6.26-10.58,9.37-2.74-11.3-5.48-22.61-8.22-33.92,3.01-2.5,6.02-4.99,9.03-7.49.54,1.75,1.05,3.46,1.58,5.21.35,1.13.67,2.23,1.02,3.36-.27.35-.54.7-.81,1.05,3.9-5.02,7.79-10.07,11.69-15.09-5.99-3.09-11.98-6.18-17.97-9.29,4.75,15.6,9.51,31.2,14.27,46.78v.03Z"/>
            </g>
        </g>
        </g>
    </g>
    <path class="cls-4" d="M231.77,173.28l9.56-72.28-9.56-72.28h48.61v105.82l-12.34-10.6,70.82-95.22h51.27l-113.93,144.56h-44.43ZM300.13,106.78l36.08-28.72,55.83,95.22h-55.45l-36.46-66.5Z"/>
    <path class="cls-4" d="M435.42,148.99v-39.51h97.03v39.51h-97.03ZM517.45,28.72l62.47,144.56h-52.22l-49.18-122.59h12.53l-49.18,122.59h-52.22l62.47-144.56h65.32Z"/>
    <path class="cls-4" d="M639.75,28.72v122.59l-22.03-22.36h105.95v44.33h-132.92V28.72h48.99Z"/>
    <path class="cls-4" d="M866.13,83.85v34.31h-107.28v-34.31h107.28ZM792.46,101l-8.73,53.78-18.61-20.82h108.04v39.32h-137.85l10.44-72.28-10.44-72.28h136.9v39.32h-107.09l18.61-20.82,8.73,53.78Z"/>
    <path class="cls-4" d="M893.19,28.72h48.99v144.56h-48.99V28.72Z"/>
    <path class="cls-4" d="M1040.53,28.72c17.34,0,32.47,3.02,45.38,9.06,13.04,5.91,23.16,14.26,30.38,25.06,7.22,10.79,10.82,23.52,10.82,38.16s-3.6,27.24-10.82,38.16c-7.22,10.79-17.34,19.21-30.38,25.25-12.91,5.91-28.04,8.87-45.38,8.87h-75.57V28.72h75.57ZM1013.57,151.12l-22.03-22.17h52.79c6.96,0,12.91-1.09,17.84-3.28,5.07-2.31,8.93-5.53,11.59-9.64,2.66-4.24,3.98-9.25,3.98-15.03s-1.32-10.92-3.98-15.03c-2.66-4.11-6.52-7.26-11.59-9.44-4.93-2.31-10.88-3.47-17.84-3.47h-52.79l22.03-22.17v100.23Z"/>
    <path class="cls-4" d="M1225.9,176.75c-17.34,0-32.53-3.15-45.57-9.45-12.91-6.3-22.97-15.1-30.19-26.41-7.21-11.44-10.82-24.74-10.82-39.9s3.61-28.4,10.82-39.71c7.22-11.44,17.28-20.3,30.19-26.6,13.04-6.3,28.23-9.44,45.57-9.44s32.47,3.15,45.39,9.44c13.03,6.3,23.16,15.16,30.38,26.6,7.21,11.31,10.82,24.54,10.82,39.71s-3.61,28.46-10.82,39.9c-7.22,11.31-17.35,20.11-30.38,26.41-12.92,6.3-28.04,9.45-45.39,9.45ZM1225.9,132.42c7.73,0,14.37-1.22,19.94-3.66,5.57-2.57,9.81-6.17,12.72-10.79,3.04-4.75,4.56-10.41,4.56-16.96s-1.52-12.14-4.56-16.77c-2.91-4.75-7.15-8.35-12.72-10.79-5.57-2.57-12.21-3.85-19.94-3.85s-14.36,1.28-19.93,3.85c-5.57,2.44-9.88,6.04-12.91,10.79-2.92,4.63-4.37,10.22-4.37,16.77s1.45,12.21,4.37,16.96c3.03,4.63,7.34,8.22,12.91,10.79,5.57,2.44,12.21,3.66,19.93,3.66Z"/>
    </svg>
    <section>
        <div>
            <ol>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ol>
        </div>
        <div>

        </div>
        <SoMe></SoMe>
    </section> 
</article>