---
import SoMe from "./SoMe.astro";
import BlueBG from "./BlueBG.astro";
import Link from "./Link.astro"
import { Image } from 'astro:assets';
import logo from "../assets/logo.svg";
---
<BlueBG class="">
    <article class="flex flex-col mx-xs md:mx-m pt-sm">
         <a href=""><Image src={logo} alt="" class=""/></a>        
        <section class="flex flex-row mt-s my-m justify-between">
            <div class="lg:flex lg:flex-row">
                <ul class="flex flex-col ml-xs">
                    <Link href="/tickets">Tickets</Link>
                    <Link href="/lineup">Lineup</Link>
                    <Link href="/volunteer">Volunteer</Link>
                    <Link>Events</Link>
                    <Link>About us</Link>
                </ul>
                <div class="flex lg:hidden justify-start ml-xs">
                   <SoMe />
                </div>
            </div>    
            <div class="hidden lg:flex justify-center lg:mt-2xl ml-xs">
                <SoMe />
            </div>
            <div class="text-right mt-xs mr-xxs">
                <h5>Information</h5>
                <ul>
                    <li><a href=""><h6>FAQ</h6></a></li>
                    <li><a href=""><h6>Contact</h6></a></li>
                    <li><a href=""><h6>Terms & condition</h6></a></li>
                    <li><a href=""><h6>Privacy policies</h6></a></li>
                    <li><a href=""><h6>Cookies</h6></a></li>
                </ul>
            </div>
        </section> 
    </article>
</BlueBG>

