---
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import logo from "../assets/images/Digital_Cleanup_Day.webp";
---
<div x-data="{ showmenu: false }" class="fixed top-0 left-0 right-0 z-50 bg-[#0A1748] text-white p-3 lg:p-4">
    <div id="navbar" class="flex justify-between items-center">
        <div id="logo" class="ml-4">
            <!-- <a href="/"><Image src={logo} alt="Digital Cleanup Day" class="w-12 h-12 mr-4"/></a>         -->
        </div>
        <nav id="desktopmenu" class="hidden lg:block mx-10 -ml-10">
            <ul class="flex flex-row gap-8">
                <li><a href="/saadan" class="transition hover:text-[#DB901B]">Tickets</a></li>
                <li><a href="#" class="transition hover:text-[#DB901B]">Lineup</a></li>
                <li><a href="#" class="transition hover:text-[#DB901B]">Volunteer</a></li>
                <li><a href="#" class="transition hover:text-[#DB901B]">About us</a></li>
            </ul>
        </nav> 
        <!-- <div class="hidden lg:block">
            <Button size="small"><a href="/del_dine_resultater">Del dine resultater</a></Button>
        </div>  -->
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="#DB901B" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /></svg>
        </button>
    </div>
    
    <!-- Mobile Menu -->
    <nav id="mobilmenu" class="flex flex-col content-center pt-4" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul>
            <li class="text-center py-2"><a href="/saadan" class="transition hover:text-[#DB901B]"><h6 class="text-white">Tickets</h6></a></li>
            <li class="text-center py-2"><a href="#" class="transition hover:text-[#DB901B]"><h6 class="text-white">Lineup</h6></a></li>
            <li class="text-center py-2"><a href="#" class="transition hover:text-[#DB901B]"><h6 class="text-white">Volunteer</h6></a></li>
            <li class="text-center py-2"><a href="#" class="transition hover:text-[#DB901B]"><h6 class="text-white">About us</h6></a></li>  
        </ul>
        <div class="flex justify-center items-center m-10 lg:hidden">
            <Button size="small"><a href="/del_dine_resultater">Del dine resultater</a></Button>
        </div> 
    </nav>
</div>

<div class="pt-12 lg:pt-16">
</div>
