---
import BlueBG from "./BlueBG.astro"
import Button from "./Button.astro"
---

<BlueBG>
    <h1>Keep me updated</h1>
    <form action="">
        <input type="text">
        <input type="radio" name="" id="">
        <input type="text">
        <Button></Button>
    </form>
</BlueBG>