---
import { apiDetails } from "../../settings";
import WhiteStarDesk from "./WhiteStarDesk.astro";

interface Artist {
  artist_name: string;
  country?: string;
}

async function fetchArtists(): Promise<Artist[]> {
  const res = await fetch(`${apiDetails.supabaseUrl}/rest/v1/artists?select=artist_name,country`, {
    headers: {
      apikey: apiDetails.supabaseKey,
      Authorization: `Bearer ${apiDetails.supabaseKey}`,
    },
  });

  if (!res.ok) {
    console.error('Error fetching artists:', await res.text());
    return [];
  }

  const data: Artist[] = await res.json();
  return data;
}

const artists: Artist[] = await fetchArtists();
---

  <section class="flex flex-wrap max-w-[300px] sm:max-w-[450px] md:max-w-[800px] lg:max-w-[900px] ml-m md:ml-xl">
    {artists.length === 0 ? (
      <p>Ingen artister fundet.</p>
    ) : (
      <>
        {artists.map((artist) => (
        <WhiteStarDesk/>
        <div class="flex items-center">
            <div class="flex flex-row items-center px-xxs gap-xs">
                <div class="flex flex-row items-center gap-[1px]">
                    <h4 class="text-center">{artist.artist_name}</h4>
                    <h6 class="">{artist.country}</h6>
                </div>
            </div>
        </div>
        ))}
      </>
    )}
  </section>

