---
import { apiDetails } from "../../settings";
import WhiteStarDesk from "./WhiteStarDesk.astro";

interface Artist {
  artist_name: string;
  country?: string;
  date: string;
}

const { date } = Astro.props;

async function fetchArtists(): Promise<Artist[]> {
  const res = await fetch(`${apiDetails.supabaseUrl}/rest/v1/artists?select=artist_name,country,date`, {
    headers: {
      apikey: apiDetails.supabaseKey,
      Authorization: `Bearer ${apiDetails.supabaseKey}`,
    },
  });

  if (!res.ok) {
    console.error('Error fetching artists:', await res.text());
    return [];
  }

  const data: Artist[] = await res.json();
  return data;
}

const artists: Artist[] = (await fetchArtists()).filter(
  (artist) => artist.date?.toLowerCase().includes(date?.toLowerCase())
);


---

<section class="flex flex-wrap justify-end text-right max-w-[355px] md:max-w-[600px] lg:max-w-[850px] mr-m md:mr-xl">
    {artists.length === 0 ? (
      <p>Ingen artister fundet.</p>
    ) : (
      <>
        {artists.map((artist) => (
        <WhiteStarDesk/>
        <div class="flex items-center">
            <div class="flex flex-row items-center px-xxs gap-xs">
                <div class="flex flex-row items-center gap-[1px]">
                    <h5 class="text-center text-primary-400">{artist.artist_name}</h5>
                    <h6 class="">{artist.country}</h6>
                </div>
            </div>
        </div>
        ))}
      </>
    )}
  </section>

